<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/styles/_.css">
<link rel="stylesheet" href="/static/styles/_menu.css">
<link rel="stylesheet" href="/static/styles/_icon.css">
<link rel="stylesheet" href="/static/styles/_page.css">
<link rel="stylesheet" href="/static/styles/_login_form.css">
<link rel="stylesheet" href="/static/styles/_loading.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body class="bg">


    <div id="menu" class="menu">
        <div id="icon" class="icon"  onclick="window.open('/login' , '_self');">
            aida.cloud
        </div>
        <div id="loader" class="loader">
            <!--- 0% --->

            <div class="spinner">
                <div class="_spinner_outer _anim_spinner_load">
                    <div class="spinner_inner">

                    </div>
                </div>


            </div>

        </div>
        <div id="menubar" class="menubar">
            <div id="item0" >

                <img class="menuitem" src="/static/styles/menu.svg">

            </div>
            <div id="item1" class="menuitem">


                <img src="/static/svg/f_63,249,220,255,3,24/menu.svg">

            </div>
            <div id="item2" class="menuitem">

                <img src="/static/svg/f_97,249,63,255,3,24/menu.svg">

            </div>
            <div id="item3" class="menuitem">

                menu

            </div>
            <div id="item4" class="menuitem">

                menu

            </div>
        </div>
    </div>
<div class="page">

    <div class="loginframe">
        <div class="_login_outer _login_anim">
            <div class="_login_inner">
                <div class="_login_textfield">
                    Login
                </div>
                <div class="_login_textfield">
                    Login
                </div>
            </div>
        </div>

    </div>




    <script>

        var xml = new XMLHttpRequest();
        xml.response.substring(1, xml.response.length-2)
    </script>



</div>






</body>
</html>