.bg {
    background-color: rgba(55, 60, 62, 1);
    color: white;
    font-family: monospace;

}

._font_bg_gradient{
    composes: icon;

    background:  linear-gradient(350deg, rgb(41, 255, 116) 0%, rgb(35, 144, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.menu{

    display: flex;
    background-clip: content-box;

    z-index:100; position: fixed;


    font-size: 32px;
    padding: 12px;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient( rgb(83, 85, 87), rgb(63, 63, 63));
    box-shadow: 0px 0px 5px 0px #171717;
}


.menubar{

    display: flex;
    position: inherit;
    top: 14px;
    left: 200px;
    font-size: 32px;
}

.menuitem{
    flex: 3;
    padding-right: 15px;
    color: white;

}
.menuitem:hover{
    background:  linear-gradient(350deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(44, 159, 253);
}


.page{
    width: 100%;
    display: flex;
    height: 60%;
    top: 120px;
    position: relative;
    align-items: center;
    justify-content: center;
}



.iconyellowpink{
    background:  linear-gradient(0deg, rgb(255, 204, 41) 0%, rgb(255, 65, 232) 100%);
}


.icon{
    background:  linear-gradient(350deg, rgb(41, 255, 116) 0%, rgb(35, 144, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-weight: bold;
    font-size: 64px;
    height: 64px;
    top: 32px;
    width: 120px;
    padding: 2px;
}

.icon:hover{
    color: white;
    background:  linear-gradient(0deg, rgb(199, 199, 199) 0%, rgb(199, 199, 199) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-weight: bold;
    font-size: 64px;
}