.loginframe{
    position: inherit;
    width: 30em;
    height: 26em;

    justify-content: center;
    align-items: center;
    background: transparent;

    border-radius: 10%;

}

._login_outer{
    position: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 10%;
    background: rgba(55, 60, 62, 1);
    background: linear-gradient( 0deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
}



._login_inner{

    display: flex;
    position: relative;
    width: 98%;
    padding: 0px;
    background: rgba(55, 60, 62, 1);
    height: 98%;
    border-radius: 10%;
}


._login_textfield{
display: flex;
justify-content: center;
    align-items: center;
    width: 8em;
    height: 5em;
    border: solid;
    border-radius: 1em;
    border-color: rgb(44, 159, 253);
}


._login_textfield:hover{

border-color: rgb(255, 159, 253);
}

._login_anim{
    animation: _grad_spinner 6s linear 0s infinite;
}

@keyframes _grad_spinner {
    0%{
        background: linear-gradient( 0deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    2.5%{
        background: linear-gradient( 9deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    5%{
        background: linear-gradient( 18deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    7.5%{
        background: linear-gradient( 27deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    10%{
        background: linear-gradient( 36deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    12.5%{
        background: linear-gradient( 45deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    15%{
        background: linear-gradient( 54deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    17.5%{
        background: linear-gradient( 63deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    20%{
        background: linear-gradient( 72deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    22.5%{
        background: linear-gradient( 81deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    25%{
        background: linear-gradient( 90deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    27.5%{
        background: linear-gradient( 99deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    30%{
        background: linear-gradient( 108deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    32.5%{
        background: linear-gradient( 117deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    35%{
        background: linear-gradient( 126deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    37.5%{
        background: linear-gradient( 135deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    40%{
        background: linear-gradient( 144deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    42.5%{
        background: linear-gradient( 153deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    45%{
        background: linear-gradient( 162deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    47.5%{
        background: linear-gradient( 171deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    50%{
        background: linear-gradient( 180deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    52.5%{
        background: linear-gradient( 189deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    55%{
        background: linear-gradient( 198deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    57.5%{
        background: linear-gradient( 207deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    60%{
        background: linear-gradient( 216deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    62.5%{
        background: linear-gradient( 225deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    65%{
        background: linear-gradient( 234deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    67.5%{
        background: linear-gradient( 243deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    70%{
        background: linear-gradient( 252deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    72.5%{
        background: linear-gradient( 261deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    75%{
        background: linear-gradient( 270deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    77.5%{
        background: linear-gradient( 279deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    80%{
        background: linear-gradient( 288deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    82.5%{
        background: linear-gradient( 297deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    85%{
        background: linear-gradient( 306deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    87.5%{
        background: linear-gradient( 315deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    90%{
        background: linear-gradient( 324deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    92.5%{
        background: linear-gradient( 333deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    95%{
        background: linear-gradient( 342deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    97.5%{
        background: linear-gradient( 351deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
    100%{
        background: linear-gradient( 360deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    }
}
