
.menu{
    display: flex;
    background-clip: content-box;

    z-index:100; position: fixed;


    font-size: 18px;
    padding: 12px;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 26px;
    background: linear-gradient( rgb(83, 85, 87), rgb(79, 79, 79));6
box-shadow: 0px 0px 2px 0px #171717;
}


.menubar{
    font-family: monospace;
    display: flex;
    position: inherit;
    top: 14px;
    left: 200px;
    font-size: 20px;
}

.menuitem{
    flex: 3;
    padding-right: 15px;
    color: white;

}
.menuitem:hover{
    background:  linear-gradient(350deg, rgb(94, 236, 49) 0%, rgb(44, 159, 253) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(44, 159, 253);
}
